extends layout

block content

	h3= poll.question
	for option in poll.choices
		p= option

	button
		a(href="/api/polls/" + poll._id + "/editpoll") Edit Poll
	form(action="/api/polls/" + poll._id +"?_method=delete", method='post')
		input(type='submit' value='Delete Poll') 

	button
		a(href="/api/polls") Go Back to All Polls