body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* SHOW ALL POLLS PAGE*/
.ui.container.segment.pollsContainer {
	border: none;
	box-shadow: none;
	text-align: center;
}

.questionTitle{
	text-align: center;
}

.ui.button.tiny.teal.vP{
	width: 50%;
	margin-top: 1em;
}

.createdBy {
	text-align: right;
	margin-top: 2em;
	font-size: 0.9em;
}

/*END SHOW ALL POLLS PAGE*/


/* EDIT AND CREATE POLL PAGES */
.removeBtnDiv{
	display: inline-block;
	width: 18%;
	padding-top: 5px;
	height: 38px;
	text-align: center;
}

.ui.form input[type=text] {
	display: inline-block;
	width: 80%;
}

.addOption{
	margin-left: 15px;
	display: inline-block;
}

.removeOption{
	margin-left: 15px;
	display: inline-block;
}

.submitBtn.item {
	display: inline-block;
}

label {
	display: block;
}

input.hiddenInputData {
	position: absolute;
	visibility: hidden;
}
/* END OF EDIT AND CREATE POLL PAGES */


/*SHOW SINGLE POLL PAGE */
.ui.segment.container.showPage {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.showChoices {
	display: inline-block;
}

.ui.segment.container.showQuestion {
	width: 45%;
	margin-bottom: 0
}

.ui.segment.container.showResults {
	width: 45%;
	margin-top: 0;
}

.pollResults {
	margin-top: 0;
}

.doughnut {
	width: 100%;
}

.choiceOpt {
	margin-left: 10px;
}

.deleteForm{
	display: inline-block;
}
.deletePoll.ui.button.red {
	margin: 1.2em 10px;
	display: inline-block;
}
.editPoll.ui.button.orange {
	display: inline-block;
	margin: 1.2em 0;
}

/* END OF SHOW SINGLE POLL PAGE */

/* LOGIN AND REGISTER */

.ui.container.segment.logRegCont {
	text-align: center;
}

form.ui.form.logRegForm {
	display: inline-block;
	text-align: right;
}

.ui.button.mini.orange.logReg {
	width: 100%;
}

.hrLogin {
	width: 60%;
	margin: 20px auto;
}

/* END OF LOGIN AND REGISTER */



@media only screen and (max-width: 767px){
	.ui.segment.container.showQuestion{
		width: 100% !important;
		margin-bottom: 2em;
	}

	.ui.segment.container.showResults {
		width: 100% !important;
		margin-top: 0;
	}
}











