body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

/* SHOW ALL POLLS PAGE*/
.ui.container.segment.pollsContainer {
	border: none;
	box-shadow: none;
}
/*END ALL POLLS PAGE*/


/* EDIT AND CREATE POLL PAGES */
.removeBtnDiv{
	display: inline-block;
	width: 18%;
	padding-top: 5px;
	height: 38px;
	text-align: center;
}

.ui.form input[type=text] {
	display: inline-block;
	width: 80%;
}

.addOption{
	margin-left: 15px;
	display: inline-block;
}

.submitBtn.item {
	display: inline-block;
}

label {
	display: block;
}
/* END OF EDIT AND CREATE POLL PAGES */